/* Margin Top */

my-1{
    margin-top: 1rem;
}
my-2{
    margin-top: 1.5rem;
}
my-3{
    margin-top: 2rem;
}
my-4{
    margin-top: 2.5rem;
}
my-5{
    margin-top: 40px;
}
my-6{
    margin-top: 4rem;
}
my-7{
    margin-top: 5rem;
}
